@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;

  background-color: #000000;

  overflow-x: hidden;
}
h2 {
  font-size: 1.3rem;
}
li,
a {
  list-style: none;
  text-decoration: none;
}
.hidden {
  display: none !important;
}
.obscure {
  z-index: 0 !important;

  opacity: 0;
  pointer-events: none;

  transition: 1s ease-in-out;
}
section {
  width: 100%;
}
section h3 {
  text-align: center;
}
.main-button {
  width: 100%;
  height: 3rem;

  font-size: 1rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
}
.alternative-button {
  width: 100%;
  height: 3rem;

  font-size: 1rem;
  background-color: #282828;
  color: #ffffff;
  border-radius: 8px;
}
button {
  height: 2.5rem;
  width: 10rem;

  font-size: 1rem;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease;

  cursor: pointer;
}
button:hover {
  transform: scale(1.05);
}
.secondary-button {
  background-color: transparent;
  color: #000000;
  border: none;
  box-shadow: none;
}
header {
  width: 100%;
}
nav {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.icons-wrapper {
  display: flex;
  gap: 0.4rem;
}
.icon-container {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-container img {
  width: 20px;
  height: 20px;
}
.news {
  position: relative;
}
.updates-box {
  width: 80%;
  max-height: 200px;

  position: absolute;
  top: 80px;
  right: 0;
  z-index: 1;

  background-color: #ffffff;
  border-radius: 15px;
  margin: 0 1rem;
  padding: 1rem;
  color: #000000;
  transition: 0.5s ease-in-out;
}
.updates-box p {
  position: relative;
}
.updates-box .green-circle-shadow {
  width: 10px;
  height: 10px;

  position: relative;

  border-radius: 100%;
  background-color: #add2af;
}
.updates-box .green-circle {
  width: 10px;
  height: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  background-color: #60d766;

  position: absolute;
  top: 8px;
  left: 8px;
}
.github-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  margin-top: 1rem;
}
.github-wrapper a {
  font-size: 12px;
  color: #000000;
  text-decoration: underline;
}
.github-wrapper img {
  width: 25px;
}
.settings-menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;

  padding: 1.5rem 1rem;
  background-color: #151515;
  color: #ffffff;
  border-bottom-left-radius: 15px;
  opacity: 98%;
}
.language-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #282828;
  padding: 3rem 1rem;
  border-radius: 15px;
  text-align: center;
}
.main-menu-wrapper {
  width: 100%;
}
.main-menu-wrapper .icon-container:first-child {
  padding-left: 0.5rem;
}
.secondary-logo {
  width: 40px;

  justify-self: end;
  margin: auto 0 0 0;
}
.logo-wrapper {
  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;

  font-size: 0.8rem;
  margin: 1.5rem 0;

  color: #ffffff;
}
.logo-wrapper img {
  width: 50px;
  height: 50px;
}
.main-menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  width: 100%;
  min-height: 70svh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 0 1rem;
}
.balance-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.total-balance-wrapper {
  width: 100%;

  background-color: #151515;
  border-radius: 15px;
  padding: 1rem;
}
.total-balance-wrapper span {
  color: #868686;
}
.total-balance-wrapper p {
  color: #ffffff;
}
.total-value-wrapper {
  display: flex;
}
.total-balance {
  font-size: 3rem;
}
.green-circle-shadow {
  width: 10px;
  height: 10px;

  position: relative;

  border-radius: 100%;
  background-color: #add2af;
}
.green-circle {
  width: 10px;
  height: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  background-color: #60d766;

  position: absolute;
  top: 0;
  right: 0;
}
.pulsing {
  animation: pulse 1.25s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.balance-content {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  background-color: #282828;
  border-radius: 15px;
}
.balance-content p {
  color: #ffffff;
  font-size: 1.4rem;
}
.expenses-category,
.income-category {
  color: #868686;
}
.income-content,
.expenses-content {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 2rem 1rem;
}
.transactions-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
#transactions {
  position: relative;
}
.form-title {
  font-weight: normal;
  margin-bottom: 2rem;
  color: #ffffff;
}
.form-title .highlight {
  font-weight: bolder;
}
form {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}
.form input,
.form select,
.form textarea {
  width: 100%;
  height: 3rem;

  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-align: start !important;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #000000 !important;
  appearance: none;
}
.form input:focus,
.form select:focus,
.form textarea:focus {
  border-color: #909090;
  box-shadow: var(--shadow);
  outline: none;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #999;
  font-style: italic;
}
.form select {
  background-color: none;
  cursor: pointer;
}
label span {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 2rem;
  margin-left: 0.5rem;
}
.alert-error {
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  z-index: 10;
  bottom: 60%;
  left: 50%;

  padding: 1rem 2rem;
  background-color: #eeeeee;
  border-radius: 8px;
  transform: translate(-50%);
  box-shadow: var(--shadow);
}
#icon-toggle {
  transition: transform 0.3s ease;
}
.expenses-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin-bottom: 2rem;
}
.transactions-content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1rem;

  color: #ffffff;
  cursor: pointer;
}
.expenses-list {
  width: 100%;
  max-width: 600px;

  position: relative;

  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.expenses-list th,
.expenses-list td {
  padding: 0.8rem 1rem;
  text-align: left;
}
.expenses-list th {
  background-color: #282828;
  color: #ffffff;
  font-weight: bold;
}
.expenses-list th,
.expenses-list td {
  color: #ffffff;
  text-align: center;
}
.expenses-list th {
  background-color: #151515;
}
.expenses-list td {
  background-color: #282828;
}
.expenses-list th:first-child {
  border-top-left-radius: 15px;
}
.expenses-list th:last-child {
  border-top-right-radius: 15px;
}
.expenses-list tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}
.expenses-list tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
.action-delete {
  cursor: pointer;
}
.remove-transaction-alert {
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);

  padding: 2rem 1rem;
  background-color: #eeeeee;
  border-radius: 8px;
  box-shadow: var(--shadow);
}
.buttons-wrapper {
  display: flex;
  gap: 1rem;

  margin-top: 1rem;
}
.lang-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 0.5rem;

  margin-top: 1rem;
}
.lang-flag {
  width: 30px;
  height: 30px;

  transition: transform 0.3s ease;
  cursor: pointer;
}
.lang-flag:hover {
  transform: scale(1.05);
}
@media (max-width: 350px) {
  button {
    width: 100%;
    font-size: 0.8rem;
  }
}
@media (min-width: 769px) {
  .updates-box {
    width: 40%;
    right: 10rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main,
  nav {
    padding: 0 10rem;
  }
  .updates-box {
    width: 40%;
    right: 10rem;
  }
  .settings-menu {
    padding: 1.5rem 10rem;
  }
}
@media (min-width: 1025px) and (max-width: 1400px) {
  main,
  nav {
    padding: 0 20rem;
  }
  .updates-box {
    width: 30%;
    right: 20rem;
  }
  .settings-menu {
    padding: 1.5rem 20rem;
  }
}
@media (min-width: 1401px) and (max-width: 1800px) {
  main,
  nav {
    padding: 0 30rem;
  }
  .updates-box {
    width: 25%;
    right: 30rem;
  }
  .settings-menu {
    padding: 1.5rem 30rem;
  }
}
@media (min-width: 1801px) {
  main,
  nav {
    padding: 0 40rem;
  }
  .updates-box {
    width: 20%;
    right: 40rem;
  }
  .settings-menu {
    padding: 1.5rem 40rem;
  }
}

@media (max-width: 768px) {
  .alert-error {
    width: 100%;
  }
  .expenses-list th,
  .expenses-list td {
    font-size: 0.8rem;
  }
  #add-income,
  #add-expenses {
    width: 100%;
    margin: 1rem 0 3rem 0;
  }
  .buttons-wrapper {
    gap: 0;
  }
}
@media (max-width: 1400px) {
  .logo {
    font-size: 0.6rem;
  }
  .logo img {
    width: 16px;
    height: 16px;
  }
  form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  form label {
    width: 100%;
  }
  .expenses-list th,
  .expenses-list td {
    padding: 0.8rem 0.2rem;
  }
  footer {
    margin-top: 4rem;
  }
}
